<h2>Manual Entry Summary</h2>
<ul>
  <li><strong>Population:</strong> {{population}}</li>
  <li><strong>Per Capita Waste:</strong> {{perCapita}} kg/cap/day</li>
  <li><strong>Annual Waste:</strong> {{annual}} kg/year</li>
</ul>

<h2>Waste Composition Table</h2>
<table border="1">
  <thead>
    <tr>
      <th>Type</th>
      {{#each sectors}}<th>{{this}}</th>{{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each wasteMatrix}}
    <tr>
      <td>{{type}}</td>
      {{#each values}}<td>{{this}}</td>{{/each}}
    </tr>
    {{/each}}
  </tbody>
</table>

<button type="submit" id="submitBtn" class="btn-submit">Confirm Submission</button>

<!-- POST request script -->
<script>

// Pass req.body from previous form to this
const formData = {{{formData}}}

// Pass variables from server to js
const wasteMatrix = {{{wasteMatrixJson}}}
const population = {{population}}
const per_capita = {{perCapita}}
const annual = {{annual}}
const sectorsJson = {{{sectorsJson}}}

// Prepare formData with additional variables
formData.population = population
formData.per_capita = per_capita
formData.annual = annual
formData.wasteMatrix = wasteMatrix
formData.sectorsFromExcel = sectorsJson

// Submit button
const submitBtn = document.getElementById("submitBtn")

document.addEventListener("DOMContentLoaded", function () {

  // Once submit is clicked, begin pushing to db
  submitBtn.addEventListener("click", async function (event) {
    event.preventDefault()

    try {
      const response = await fetch("/api/data/submit-report/upload", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(formData)
      });

      const result = await response.json();
      if (response.ok) {
        alert("Report submitted successfully!");
      } else {
        alert(result.error || "Submission failed.");
      } 
    } catch (error) {
        console.error("Error:", error);
        alert("Something went wrong.");
    }
  })

})

</script>