<h2>Data Submission Form</h2>

<!-- Step Labels -->
<fieldset style="padding: 20px;">
    <div class="step-labels">
        <span class="label current">
            Personal Info + Waste Generation
        </span>

        {{#each supertypes}}
            <span class="label">
                Waste Composition - {{name}}
            </span>
        {{/each}}
    </div>
</fieldset>

<form id="waste-form">

    <!-- Step 1 -->
    <div class="step active" data-step="0">
        <!-- Personal Information -->
        <fieldset>
            <legend>Personal Information</legend>

            <label for="name">Name:</label>
            <input type="text" name="name" id="name" value="{{user.firstname}} {{user.lastname}}" readonly><br><br>
            
            <label for="client">Company:</label>
            <input type="text" id="client" name="company_name" value="{{user.company}}" readonly><br><br>
        </fieldset><br>
        
        <!-- Location Selection -->
        <fieldset>
            <legend>Select Location</legend>
            <p>
                <label for="region">Select a region:</label><br>
                <select name="region" id="regions">
                <option value=''>Select a region</option>
                    <!-- Populated by locations.js -->
                </select>
            </p>

            <p>
                <label for="provinces">Select a province:</label><br>
                <select name="province" id="provinces" class="full-width" disabled>
                    <option value=''>Select a province</option>
                    <!-- Populated by locations.js -->
                </select>
            </p>

            <p>
                <label for="municipalities">Select a city/municipality:</label><br>
                <select name="municipality" id="municipalities" class="full-width" disabled>
                    <option value=''>Select a city/municipality</option>
                    <!-- Populated by locations.js -->
                </select>
            </p>

            <p>
                <label for="barangay">Barangay (if applicable):</label><br>
                <input type="text" id="barangay" name="barangay">
            </p>
        </fieldset>

        <!-- Waste Generation -->
        <fieldset>
            <legend>Location Information</legend>
                
            <label for="population">Population based on Census:</label>
            <input type="number" id="population" name="population" required min="0"><br><br>
            
            <label for="waste_generation">Waste Generation per Capita (Kg/cap-day):</label>
            <input type="number" id="per_capita" name="per_capita" min="0" step="0.001" required><br><br>

            <label for="waste_generation">Annual Waste Generation (kg/year):</label>
            <input type="number" id="annual" name="annual" min="0" step="0.001" required><br><br>

            <label for="date_start">Data Collection Start Date:</label>
            <input type="date" id="date_start" name="date_start" required><br><br>

            <label for="date_end">Data Collection End Date:</label>
            <input type="date" id="date_end" name="date_end" required><br><br>
        </fieldset><br>
    </div>

    <!-- Waste Composition -->
    {{#each supertypes}}
        <div class="step waste-supertype" data-step="{{id}}">
            <fieldset>
                <legend>Waste Composition</legend>

                    {{uppercase name}}

                    <!-- Display types of current supertype -->
                    <table>
                        <tr>
                            <td><!-- Blank cell for type --></td>
                            {{#each ../sectors}}
                                <td>{{name}}</td>
                            {{/each}}
                        </tr>
                        {{#each types}}
                            <tr>
                                <td>{{name}}</td>
                                {{#each ../../sectors}}
                                    <td>
                                        <input type="text" sectorId="{{id}}" typeId="{{../id}}" class="waste-entry">
                                    </td>
                                {{/each}}
                            </tr>
                        {{/each}}
                    </table>

            </fieldset>
        </div>
    {{/each}}

    <div>
        <button type="button" id="prevBtn" class="disabled">Previous</button>
        <button type="button" id="nextBtn" class="disabled">Next</button>
        <button class="btn-approve" type="submit" id="submitBtn">Submit</button>
    </div>
</form>

<script src="/../js/form-step.js" type="text/javascript"></script>
<script src="/../js/locations.js" type="text/javascript"></script>
<script src="/../js/waste-composition.js" type="text/javascript"></script>