<h2>Users</h2>

<div class="filter-bar">
    <div class="search-container">
        <input type="text" id="searchInput" placeholder="Search by name or email...">
        <button id="searchButton"><i class="fa-solid fa-search"></i></button>
    </div>
    <a href="/dashboard/users/create" class="btn-link">
        <button class="btn-green btn-create-user">
            <i class="fa-solid fa-plus"></i>&nbsp; Create New Staff User
        </button>
    </a>
    <div class="filter-container">
        Filter by: 
        <select id="userType">
            <option value="all">User Type</option>
            <option value="gc-staff">GreenCycle Staff</option>
            <option value="client">Client</option>
        </select>

        <select id="userRole">
            <option value="all">User Role</option>
            <option value="gc-staff">GreenCycle - Data Cleaner</option>
            <option value="client">GreenCycle - Staff</option>
            <option value="gov">Government</option>
            <option value="non-profit">Non-Profit</option>
            <option value="research">Research Firm</option>
            <option value="intl">International</option>
        </select>
    </div>
</div>

<div class="tb-container">
    <table>
        <tr class="tb-header"> <!-- Column Headers -->
            <td class="td-button-container"><!-- Blank column for user actions --></td>
            <td>User ID</td>
            <td>Role</td>
            <td>Full Name</td>
            <td>Email</td>
            <td>Contact No.</td>
            <td>Last Login</td>
            <td>Successful Logins</td>
            <td>Failed Logins</td>
        </tr>

        {{#each users}}
            <tr>
                <td class="td-button-container">
                    <button class="tb-button-action edit"><i class="fa-solid fa-pencil"></i></button>
                    <button class="tb-button-action delete"><i class="fa-solid fa-trash"></i></button>
                </td>
                <td>{{user_id}}</td>
                <td>{{role_name}}</td>
                <td>{{uppercase lastname}}, {{firstname}}</td>
                <td>{{email}}</td>
                <td>{{contact_no}} </td>
                <td>{{last_login}}</td>
                <td>{{successful_logins}} </td>
                <td>{{failed_logins}}</td>
            </tr>
        {{/each}}
    </table>
</div>