<div class="tb-container">
    <table class="user-profile">
        <tr>
            <td class="label">User ID</td>
            <td>{{user.id}}</td>
        </tr>
        <tr>
            <td class="label">Role</td>
            <td>{{user.role_name}}</td>
        </tr>
        <tr>
            <td class="label">Full Name</td>
            <td>{{uppercase user.lastname}}, {{user.firstname}}</td>
        </tr>
        <tr>
            <td class="label">Email</td>
            <td>{{user.email}}</td>
        </tr>
        <tr>
            <td class="label">Contact No.</td>
            <td>
                {{#check user.contact_no null}}
                    {{user.contact_no}}
                {{/check}}
            </td>
        </tr>
    </table>
</div>