<!-- Approval window -->
<div class="form-section" style="background-color: #f5fff9;">
    <center>
        <!-- Approve buttons (for review) -->
        {{#ifNotEquals wasteGen.status 'Needs Revision'}}
            <h3 style="font-weight: normal;">Approve data entry?</h3>

            <button type="button" class="review-approve" onclick="showApprove()">
                <i class="fa-solid fa-thumbs-up"></i>&nbsp; Approve
            </button>&emsp;

            <button type="button" class="review-reject" onclick="showReject()">
                <i class="fa-solid fa-pencil"></i>&nbsp; Suggest Edits
            </button><br><br>
        {{/ifNotEquals}}

        <!-- Show if entry is on 'Needs Revision' status -->
        {{#ifEquals wasteGen.status 'Needs Revision'}}
            <div class="form-section waiting-card">
                This entry was <b>marked for revision</b>.<br>
                Waiting for changes on submitter's end.
            </div>
        {{/ifEquals}}

        <!-- If revision entry counts exist, then show revision log -->
        {{#if (gt revisionEntryCount 0)}}
        <h3>EDIT HISTORY</h3>
            <div class="form-section revision-window">
                <table>
                    {{#each revisionLogs}}
                    <tr>
                        <td>{{uppercase lastname}}, {{firstname}} </td>
                        <td>{{textDateTime created_at}} </td>
                        <td>{{action}} </td>
                        <td>{{comment}} </td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        {{/if}}
    </center>
</div>

<!-- Actual Data Display -->
<!-- Title Card -->
<div class="form-section title-card" style="text-align: center;">
  <h1 style="margin-bottom: 0.25rem;">{{wasteGen.title}}</h1>
  <center>
    <h3 style="margin: 0; font-weight: normal; color: #555;">
        <i class="fa-solid fa-location-dot" style="color: #127009;"></i>&nbsp; {{wasteGen.location_name}}
    </h3>
  </center>
</div>

<!-- Info Blocks -->
<div class="info-grid">
  <!-- Submission Info -->
  <div class="form-section">
    <h3><i class="fas fa-user"></i> Submission Info</h3>
    <table class="user-profile">
      <tr>
        <td class="label">Submitted by</td>
        <td>{{uppercase wasteGen.lastname}}, {{wasteGen.firstname}}</td>
      </tr>
      <tr>
        <td class="label">Organization Name</td>
        <td>{{wasteGen.company_name}}</td>
      </tr>
      <tr>
        <td class="label">Date Submitted</td>
        <td>{{textDate wasteGen.date_submitted}}</td>
      </tr>
    </table>
  </div>

  <!-- Collection Info -->
  <div class="form-section">
    <h3><i class="fas fa-calendar-alt"></i> Collection Info</h3>
    <table class="user-profile">
      <tr>
        <td class="label">Start Date</td>
        <td>{{textDate wasteGen.collection_start}}</td>
      </tr>
      <tr>
        <td class="label">End Date</td>
        <td>{{textDate wasteGen.collection_end}}</td>
      </tr>
    </table>
  </div>

  <!-- Waste Generation Info -->
  <div class="form-section">
    <h3><i class="fas fa-dumpster"></i> Waste Generation</h3>
    <table class="user-profile">
      <tr>
        <td class="label">Population (based on Census)</td>
        <td>{{commaInt wasteGen.population}}</td>
      </tr>
      <tr>
        <td class="label">Waste Generation per Capita (Kg/cap-day)</td>
        <td>{{commaNumber wasteGen.per_capita}}</td>
      </tr>
      <tr>
        <td class="label">Annual Waste Generation (kg/year)</td>
        <td>{{commaNumber wasteGen.annual}}</td>
      </tr>
    </table>
  </div>
</div>

<!-- Data tabs -->
<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Table')" id="defaultOpen">RAW DATA</button>
</div>

<div id="Table" class="tabcontent">
    <p style="font-size: large;">This table shows the waste composition for <b>{{wasteGen.location_name}}</b> according to waste type. The waste types are further divided into <b>economic sectors</b> (e.g., Residential, Commercial). All raw amounts are in <b>kilograms (kg)</b>.</p>

    <div style="display: flex;">
        <div id="data-table-container">
            <div class="table-operations">
                <div style="display: flex;">
                    <!-- Search bar -->
                    <div class="search-container">
                        <i class="fas fa-search"></i>
                        <input type="text" class="tbl-search" id="tbl-search" placeholder="Enter keyword...">
                    </div>&nbsp;
                    
                    <!-- Supertype filter -->
                    <select id="supertype-filter">
                        <option value="all">Select Category</option>
                        <option value="Biodegradable">Biodegradable</option>
                        <option value="Recyclable">Recyclable</option>
                        <option value="Residual">Residual</option>
                        <option value="Special/Hazardous">Special/Hazardous</option>
                    </select>
                    
                    <!-- Export buttons -->
                    <div style="margin-left: auto;">
                        <button onclick="exportTableToCSV()" class="button tbl-export">
                            <i class="fa-solid fa-file-csv"></i>&nbsp; Export as CSV
                        </button>
                        <button onclick="exportTableToExcel()" class="button tbl-export">
                            <i class="fa-solid fa-file-excel"></i>&nbsp; Export as Excel
                        </button>
                    </div>
                </div>
            </div>

            <!-- Waste Composition -->
            <table class="data-table" id="waste-comp-table">
                <thead>
                    <tr class="tb-header">
                        <th>Waste Type</th>
                        {{#each sectors}}
                            <th style="width: 100px;">{{name}}</th>
                        {{/each}}
                        <th>Total (kg)</th>
                        <th>Percentage (%)</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each supertypes}}
                        <tr supertype="{{name}}">
                            <td colspan="{{add ../sectors.length 3}}" class="tb-supertype"><strong>{{uppercase name}}</strong></td>
                        </tr>
                        {{#each types}}
                            <tr supertype="{{../name}}">
                            <td>{{name}}</td>
                            {{#with amounts as |a|}} <!-- Set alias for amounts -->
                                {{#each ../../../sectors}}
                                    <td style="text-align: center;">{{lookup a this.id}}</td>
                                {{/each}}
                                <td style="text-align: center;">{{../totalWeight}}</td>
                                <td style="text-align: center;">{{../percentage}}%</td>
                            {{/with}}
                            </tr>
                        {{/each}}
                        <tr class="tb-subtotal" supertype="{{name}}">
                            <td style="text-align: left;"><strong>{{name}} Subtotal</strong></td>
                            {{#each ../sectors}}
                                <td><strong>{{toFixed (lookup ../this.sectorTotals this.id) 3}}</strong></td>
                            {{/each}}
                            <td><strong>{{this.totalWeight}}</strong></td>
                            <td><strong>{{this.percentage}}%</strong></td>
                        </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr class="tb-total">
                        <td style="text-align:left">TOTAL</td>
                        {{#each sectors}}
                        <td>{{toFixed (lookup ../sectorTotals this.id) 3}}</td>
                        {{/each}}
                        <td>{{grandTotal}}</td>
                        <td>100%</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<!-- Approval modal -->
<div id="approve-modal" class="modal">
    <div class="modal-content">
        <span id="approve-close" class="close">&times;</span>
        <h3 style="font-weight: normal;">Confirm: Approve data entry</h3>

        <button type="button" id="approve-cancel" class="review-cancel">
            <i class="fa-solid fa-think"></i>&nbsp; Cancel
        </button>&emsp;

        <button type="button" class="review-approve" onclick="updateEntry('Approved')">
            <i class="fa-solid fa-thumbs-up"></i>&nbsp; Approve
        </button>
    </div>
</div>

<!-- Rejection modal -->
<div id="reject-modal" class="modal">
    <div class="modal-content">
        <span id="reject-close" class="close">&times;</span>
        <h3 style="font-weight: normal;">Entry Comments</h3>

        <div>
            <!-- Reasons for rejection -->
            <h3 style="text-align: left; margin-left: 5%;">Comments:</h3>

            <textarea id="reject-notes" placeholder="Suggestions to improve this entry... (up to 300 characters only)"></textarea>
        </div><br>

        <!-- Modal buttons -->
        <button type="button" id="reject-cancel" class="review-cancel">
            <i class="fa-solid fa-think"></i>&nbsp; Cancel
        </button>&emsp;

        <button type="button" class="review-reject" onclick="updateEntry('Needs Revision')">
            <i class="fa-solid fa-pencil"></i>&nbsp; Suggest Edits
        </button>
    </div>
</div>

<!-- Success modals -->
<div id="success-approve" class="modal">
    <div class="modal-content">
        <h3>Success</h3>
        Data entry has been approved.<br><br>

        <a href="/dashboard/data/submissions/pending">
            <button type="button" class="review-approve">
                Return to Submissions List
            </button>
        </a>
    </div>
</div>

<div id="success-reject" class="modal">
    <div class="modal-content">
        <h3>Success</h3>
        Data entry has been put on hold.<br><br>

        <a href="/dashboard/data/submissions/pending">
            <button type="button" class="review-approve">
                Return to Submissions List
            </button>
        </a>
    </div>
</div>

<!-- Modal script -->
<script>

// Get ID of current entry
const entryId = {{{ entryId }}}
const reviewedBy = {{{ reviewer }}}

// Wait for the DOM to be fully loaded
document.addEventListener('DOMContentLoaded', function() {
    // Modal functionality
    const approveModal = document.getElementById('approve-modal');
    const approveClose = document.getElementById('approve-close');
    const approveCancel = document.getElementById('approve-cancel');

    /* APPROVE MODAL */
    // Hide modal if close btn is clicked
    if (approveClose) {
        approveClose.onclick = function() {
            approveModal.style.display = "none";
        }
    }

    // Hide modal if Cancel button is clicked
    if (approveCancel) {
        approveCancel.onclick = function() {
            approveModal.style.display = "none";
        }
    }
    
    // Hide modal if user clicks outside content
    window.onclick = function(event) {
        if (event.target == approveModal) {
            approveModal.style.display = "none";
        }
    }

    /* REJECT MODAL */
    const rejectModal = document.getElementById('reject-modal');
    const rejectClose = document.getElementById('reject-close');
    const rejectCancel = document.getElementById('reject-cancel');

    // Hide modal if close btn is clicked
    if (rejectClose) {
        rejectClose.onclick = function() {
            rejectModal.style.display = "none";
        }
    }

    // Hide modal if Cancel button is clicked
    if (rejectCancel) {
        rejectCancel.onclick = function() {
            rejectModal.style.display = "none";
        }
    }
    
    // Hide modal if user clicks outside content
    window.onclick = function(event) {
        if (event.target == rejectModal) {
            rejectModal.style.display = "none";
        }
    }
})

function showApprove() {
    document.getElementById('approve-modal').style.display = 'block';
}

function showReject() {
    document.getElementById('reject-modal').style.display = 'block';
}

function updateEntry(status) {
    if(status === 'Approved') {
        // Send request to server
        reviewApi('Approved', null, reviewedBy)
            .then(response => {
                if (response.success) {                
                    // Pop up to show success
                    document.getElementById('approve-modal').style.display = 'none'
                    document.getElementById('success-approve').style.display = 'block'
                } else {
                    throw new Error(response.message || 'Failed to approve application')
                }
            })
    } else { // Rejected
        const comment = document.getElementById('reject-notes').value

        // Send request to server
        reviewApi('Needs Revision', comment, reviewedBy)
            .then(response => {
                if (response.success) {                
                    // Pop up to show success
                    document.getElementById('reject-modal').style.display = 'none'
                    document.getElementById('success-reject').style.display = 'block'
                } else {
                    throw new Error(response.message || 'Failed to put entry on hold')
                }
            })
    }
}

async function reviewApi(status, comment, reviewedBy) {
    try {
        const response = await fetch(`/api/data/${entryId}/status`, {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                status,
                comment,
                reviewedBy
            })
        });
        
        if (!response.ok) {
            console.error(`Server response not OK: ${response.status} ${response.statusText}`);
            const errorText = await response.text();
            console.error('Error response body:', errorText);
            throw new Error(`Server responded with ${response.status}: ${response.statusText}`);
        }
        
        const data = await response.json();
        console.log('Status update response:', data);
        return data;
    } catch (error) {
        console.error('Error in reviewApi() -- ', error);
        throw error;
    }
}

</script>

<!-- Table filtering script -->
<script>

// Supertype filter
const searchInput = document.getElementById('tbl-search');
const dropdown = document.getElementById('supertype-filter');

function filterTable() {
  const keyword = searchInput.value.trim().toLowerCase();
  const selectedSupertype = dropdown.value;
  const allRows = document.querySelectorAll('tr[supertype]');

  allRows.forEach(row => {
    const rowSupertype = row.getAttribute('supertype');
    const text = row.textContent.toLowerCase();
    const matchesSupertype = selectedSupertype === 'all' || rowSupertype === selectedSupertype;
    const matchesSearch = text.includes(keyword);

    row.style.display = matchesSupertype && matchesSearch ? '' : 'none';
  });
}

searchInput.addEventListener('input', filterTable);
dropdown.addEventListener('change', filterTable);

</script>

<!-- Modal style -->
<style>
    /* Modal styles */
    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 20% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 900px;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        text-align: center;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
    }

    #reject-notes {
        width: 90%;
        min-height: 100px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        resize: vertical;
    }
</style>

<!-- General style -->
<style>

.waiting-card {
    background-color: #d4edda !important;
    font-size: large;
    font-style: italic;
}

.revision-window {
    background-color: lightgoldenrodyellow !important;
    max-height: 150px;
    overflow: auto;
}

.info-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.info-grid .form-section {
  flex: 1 1 280px;
  min-width: 280px;
}

.user-profile {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0.5rem;
}

.user-profile td {
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid #eee;
}

.user-profile .label {
  font-weight: 600;
  color: #444;
  width: 50%;
}

.title-card h1 {
  font-size: 1.75rem;
}

.btn-submit {
  background-color: #28a745;
  border: none;
  padding: 0.6rem 1.2rem;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease;
}

.btn-submit:hover {
  background-color: #28a745;
}

.tab-new {
  text-align: center;
  margin-top: 2rem;
}

.tab-new button {
  background-color: #f1f1f1;
  border: none;
  padding: 0.75rem 1.5rem;
  margin: 0 5px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.tab-new button:hover,
.tab-new button.active {
  background-color: #d0e6ff;
}

.form-section {
  background-color: #fdfdfd;
  padding: 1.5rem;
  border-radius: 12px;
  border: 1px solid #ccc;
  margin: 1.5rem auto;
  font-family: 'Segoe UI', sans-serif;
  color: #333;
}

.form-section h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: #2c3e50;
  align-items: center;
}

.form-section h3 i {
  margin-right: 0.6rem;
  color: #127009;;
}

.form-section label {
  display: block;
  margin-top: 1rem;
  font-weight: 600;
  font-size: 0.95rem;
}

.form-section input[type="text"],
.form-section input[type="date"],
.form-section input[type="number"],
.form-section select {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.pie-legend {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 12px;
}

</style>

<!-- JS behind the tabs -->
<script src="/js/tabs.js"></script>